.cursos H2{
    text-align: center;
    padding: 1rem;
}

.cuadroCursos{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.bloqueCurso{
    text-align: center;
    width: 20rem;
}

.imgCurso{
    height: 10rem;
}

.imgCurso img{
    width: 100%;
    height: 100%;
}
